@font-face {
  font-weight: 400;
  font-family: "Roboto Mono";
  src: url("../assets/fonts/RobotoMono-Regular.woff2") format("woff2");
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  margin: 0;

  font-family: "Roboto Mono", monospace;

  background: #333131;
}

p {
  margin: 5px 0;
}

/* BEGIN (write your solution here) */
.calculation {
  width: 300px;
  background: #2c3e50;
  font-family: "Roboto Mono", monospace;
}

.result {
  padding: 30px;
  color: white;
  background: #505c68;
  text-align: right;
}

.buttons {
  height: 75px;
  font-size: 1.2em;
  cursor: pointer;
}

button {
  background: none;
  border: none;
  font-size: 1em;
  color: white;
  cursor: pointer;
}

table {
  border-collapse: collapse;
  width: 300px;
  height: 75px;
}

td {
  text-align: center;
  width: 75px;
  padding: 0;
}

tr td:last-child {
  background-color: #3498db;
}
tr td:hover {
  background: #364c63;
}
/* END */

.small {
  font-size: 80%;
}

.bg-blue {
  background: #3498db;
}

.bg-blue:hover {
  background: #67b2e4;
}

.text-big {
  font-size: 3em;
}

.text-gray {
  color: #ced4d9;
}
